:root {
    --text-color: #FF993A;
    --title-color: #FF463A;
    --accent-color: #000;
    --button-color: #FFF;
    --background-color: #FFE4CC;
    --ice-color: #EFEFEF;
    --footer-color: #181818;
    --contact-color: rgba(0, 0, 0, 0.25);
}

.container {
    width: 1640px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
}

*,
::after,
::before {
  box-sizing: border-box;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
    font-family: "Raleway";
}

/* Хедер */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.box {
  display: flex;
  align-items: center;
}

.header-item {
  color: var(--text-color);
font-family: "Oswald";
font-size: 24px;
font-weight: 400;
line-height: 1.5;
margin-left: 37px;
margin-right: 188px;
}

.nav-list {
  display: flex;
  gap: 65px;

}

.nav-item {
  color: var(--accent-color);
font-size: 20px;
font-weight: 400;
line-height: 1.15;
}

.current {
  color: var(--text-color);
}

.nav-item:hover, .nav-item:focus {
  color: var(--text-color);
font-size: 20px;
font-weight: 600;
line-height: 1.15;
} 

/* Секція герой */
.hero {
  background: var(--background-color);
}

.hero-box {
  display: flex;
  gap: 397px;
}

.hero-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text {
  color: var(--text-color);
font-size: 16px;
font-weight: 400;
line-height: 1.18;
width: 246px;
margin-bottom: 20px;
}

.hero-title {
  color: var(--title-color);
font-family: "Nunito";
font-size: 48px;
font-weight: 700;
line-height: 1.38;
width: 273px;
margin-bottom: 45px;
}

.hero-description {
  color: var(--accent-color);
font-family: "Nunito";
font-size: 20px;
font-weight: 400;
line-height: 1.35;
width: 527px;
margin-bottom: 45px;
}

.hero-btn {
color: var(--button-color);
font-family: "Nunito";
font-size: 20px;
font-weight: 700;
line-height: 1.35;
border-radius: 5px;
background: var(--title-color);
padding: 15px 30px;
}

/* Секція Популярне морозиво */
.popular {
  padding-top: 100px;
  padding-bottom: 100px;
}

.popular-box {
  display: flex;
  gap: 20px;
}

.popular-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
height: 500px;
border-radius: 10px;
background: #EFEFEF;
}

.popular-container {
  margin-right: 117px;
}

.popular-title {
  color: var(--title-color);
font-family: "Nunito";
font-size: 36px;
font-weight: 700;
line-height: 1.36;
margin-bottom: 10px;
}

.popular-text {
  color: var(--accent-color);
font-size: 20px;
font-weight: 400;
line-height: 1.15;
margin-bottom: 45px;
}

.popular-btn {
  color: var(--accent-color);
font-size: 20px;
font-weight: 400;
line-height: 1.15;
border-radius: 5px;
border: 1px solid var(--accent-color);
padding: 15px 30px;
}

/* Секція види морозива */
.top-ice {
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 100px;
  text-align: center;
}

.top-ice-title {
  color: var(--title-color);
font-family: "Nunito";
font-size: 48px;
font-weight: 700;
line-height: 1.35;
}

.top-ice-text {
  color: var(--accent-color);
  width: 790px;
font-size: 20px;
font-weight: 400;
line-height: 1.15;
margin-right: auto;
margin-left: auto;
margin-top: 40px;
margin-bottom: 68px;
}

.top-ice-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.top-ice-link {
  flex-basis: calc((100% - 60px) / 4 );
}

.top-ice-img {
  width: 100%;
}

/* Секція контакти */
.contact {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.contact-list {
  display: flex;
  gap: 20px;
  }

 .contact-list :hover, .contact-list :focus {
  .contact-title {
    color: var(--button-color);
  }
  .contact-item {
    color: var(--button-color);
  }
 background: #FF463A;
 }

  .contact-link {
    width: 526px;
height: 348px;
border-radius: 10px;
background: var(--button-color);
box-shadow: 0px 0px 17px 0px var(--contact-color);
text-align: center;
}

.contact-img {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.contact-title {
  color: var(--title-color);
text-align: center;
font-family: "Nunito";
font-size: 32px;
font-weight: 700;
line-height: 1.375;
margin-top: 40px;
margin-bottom: 25px;
}

.contact-item {
  color: var(--accent-color);
font-size: 24px;
font-weight: 400;
line-height: 1.16;
}


/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--footer-color);
}

.footer-box {
  display: flex;
  align-items: center;
}

.footer-item {
    color: var(--text-color);
font-family: "Oswald";
font-size: 24px;
font-weight: 400;
line-height: 1.5;
margin-left: 37px;
margin-right: 1014px;
}

.footer-text {
  color: var(--button-color);
font-family: "Inter";
font-size: 20px;
font-weight: 400;
line-height: 1.2;
width: 404px;
}
