.contact {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.contact-list {
    display: flex;
    gap: 20px;
}

.contact-list :hover,
.contact-list :focus {
    .contact-title {
        color: var(--button-color);
    }

    .contact-item {
        color: var(--button-color);
    }

    background-color: var(--title-color);
}

.contact-link {
    padding-top: 30px;
    padding-bottom: 53px;
    width: 526px;
    height: 348px;
    border-radius: 10px;
    background: var(--button-color);
    box-shadow: 0px 0px 17px 0px var(--contact-color);
    text-align: center;
}

.contact-img {
    margin-right: auto;
    margin-left: auto;
}

.contact-title {
    color: var(--title-color);
    text-align: center;
    font-family: "Nunito";
    font-size: 32px;
    font-weight: 700;
    line-height: 1.375;
    margin-top: 40px;
    margin-bottom: 25px;
}

.contact-item {
    color: var(--accent-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.16;
}