:root {
    --text-color: #FF993A;
    --title-color: #FF463A;
    --accent-color: #000;
    --button-color: #FFF;
    --background-color: #FFE4CC;
    --ice-color: #EFEFEF;
    --footer-color: #181818;
    --contact-color: rgba(0, 0, 0, 0.25);
}